<template>
  <v-sheet
    rounded>
    <div class="outer-sheet">
      <h1>{{ law.title }}</h1>
      <div
        class="section"
        v-for="part in law.parts"
        :key="part"
        >
        <h2>{{ {{ part.title }}</h2>
      </div>
    </div>
  </v-sheet>
</template>

<script>
export default {
  props: ['tab', 'date', 'path'],
  data: () => ({
    law: {
      title:"law 1",
      parts: [
        {
          title: "part 1",
          articles: [
            {
              title: "article 1"
          ],
        },
      ],
    }
  }),
  computed: {
    enumerated-law: function() {
      return {
        title: this.law.title,
        parts: this.law.parts.map((p,i) => 
          {
            title: p.title,
            number: i+1,
            articles:  
    }
  }
}
</script>

<style>
.outer-sheet {
  padding: 20px
}
.section {
  padding-left: 20px;
}
</style>
