<template>
  <v-container
    width="100%">
    <v-list
      v-if="loading"
      width="100%">
      <v-list-item
        dense
        v-for="item in items"
        :key="item">
        <v-skeleton-loader
          type="list-item"
          width="100%"/>
      </v-list-item>
    </v-list>
    <v-list
      expand
      v-else-if="!search"
      >
      <v-list-group
        v-for="cat in categories"
        :key="cat.title"
        v-model="cat.active"
        :prepend-icon="cat.icon"
        no-action
        >
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title v-text="cat.title"/>
          </v-list-item-content>
        </template>

        <v-list-item
          v-for="item in cat.items"
          :key="item.title"
          :to="`${cat.title}/${item.title}/`"
          append
          ripple
          >
          <v-list-item-content>
            <v-list-item-title v-text="item.title"/>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>
    </v-list>
  </v-container>
</template>

<script>
export default {
  props: ['search', 'tab', 'date'],
  data: () => ({
    items: [1,2,3,4,5],
    loading: true,
    categories: [
      { title: "Constitution", icon: 'mdi-file-document', items: [{title:"law 1"}, {title:"law 2"}] },
      { title: "Legal", icon: 'mdi-book-open-variant', items: [{title:"law 2"}, {title:"law 3"}] },
      { title: "Executive", icon: 'mdi-police-badge', items: [{title:"law 2"}, {title:"law 3"}] },
    ]
    /* categories: null, */
  }),
  created: function() {
    setTimeout(() => {this.loading = false}, 1000); 
  },
}
</script>
