<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <v-tabs
        centered
        class="ml-n9"
        color="secondary"
        >
          <v-tab
            v-for="link in links"
            :key="link"
            :to="'/'+link"
            >
            {{ link }}
          </v-tab>
        </v-tabs>
    </v-app-bar>

    <v-main 
      class="background">
      <v-container>
        <v-row>
          <v-col
            cols="12"
            sm="3"/>
          <v-col
            cols="12"
            sm="7">
            <v-text-field
              solo
              clearable
              @change="(t) => {search = t}"
              placeholder="Search"/>
          </v-col>
        </v-row>
        <v-row>
          <v-col
            cols="12"
            sm="3"
            >
            <v-sheet
              rounded>
              <v-skeleton-loader
                height="100%"
                width="100%"
                boilerplate
                type="card"/>
              <router-view
                name="leftcard"
                />
            </v-sheet>
          </v-col>
          <v-col
            cols="12"
            sm="7"
            >
            <v-sheet
              min-height="70vh"
              rounded="lg">
              <router-view
                :tab="tab"
                :date="date"
                :search="search"
                :path="path"
                />
            </v-sheet>
          </v-col>
          <v-col
            cols="12"
            sm="1"
            >
            <Timeline/>       
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Timeline from './Timeline.vue'

export default {
  name: 'MainView',
  components: {
    Timeline,
  },
  props: ['date', 'tab', 'path'],
  data: () => ({
    links: ["laws", "amendments", "bills"],
    search: "",
  }),
};
</script>
