<template>
    <v-sheet
        rounded
        width="100%"
        height="100%">
      <v-skeleton-loader
        height="100%"
        width="100%"
        boilerplate
        type="card"/>
    </v-sheet>
</template>
